<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>275246812933-t1144asvqtt827v2c11oajbbt7gdjumo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275246812933-t1144asvqtt827v2c11oajbbt7gdjumo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>275246812933-9pvjcm86jjj4eo78rrg25k1g3tm2h2lv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAxIDqjlG2N4pjQLFWUF4UgA30oFGksdjs</string>
	<key>GCM_SENDER_ID</key>
	<string>275246812933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rlxcoded.robin-radio</string>
	<key>PROJECT_ID</key>
	<string>robin-radio</string>
	<key>STORAGE_BUCKET</key>
	<string>robin-radio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275246812933:ios:72ada2fff783a2896c316c</string>
</dict>
</plist>